/target/
.idea/
.jpb/
.settings
.project
.classpath
*.iml
.DS_Store
node_modules/
drivers/
error-screenshots/
webpack.generated.js
pnpmfile.js
pnpm-lock.yaml
package.json
package-lock.json
webpack.config.js
info-docs/
/config/
/docker/
/files/
/logs/
/tmp/
/node/
/build/
*.generated.js
frontend/generated/
.npmrc
.pnpmfile.cjs
tsconfig.json
types.d.ts
vite.config.ts
vite.generated.ts
.mvn